.footer-content {
    color: #fff;
    padding: 0;
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-rows: 80px auto;
}
.footer-top {
    display: grid;
    background-color: #0B062B;
    height: 80px;
    grid-template-columns: 1fr auto;
}
.footer-top div {
    align-self: center;
}
.social-text p {
    font-size: 20px;
    padding-left: 30px;
    margin: 0px;
}
.social-img img{
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 15px;
}
.footer-main {
    background-color: #1E1E1E;
    display: grid;
    width: 100%;
    column-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 230px;
}
.footer-main h2 {
    margin: 0;
    margin-top: 20px;
}
.company {
    display: grid;
    margin-left: 20px;
}
.company p {
    margin: 0;
}
.plans {
    display: grid;
}
.plans p {
    margin: 0;
    margin-bottom: 5px;
}
.links {
    display: grid;
    grid-template-rows: 20px 20px 20px;
    row-gap: 35px;
}
.links a {
    text-decoration: none;
    color: #fff;
    margin: 0;
    align-self: start;
}
.contact {
    display: grid;
    grid-template-rows: 50px 50px 50px;
}
.contact p {
    margin: 0;
    align-self: start;
}
.contact img {
    width: 24px;
}
.contact div {
    margin-top: 15px;
}
.locate {
    display: grid;
    grid-template-columns: 30px auto;
}
.email {
    display: grid;
    grid-template-columns: 30px auto;
}
.tel {
    display: grid;
    grid-template-columns: 30px auto;
}