/* RESET CSS, RESETANDO OS VALORES PARA ESTILIZAR MANUALMENTE */
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* ESTILIZAÇÃO DO FOOTER */

